<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>TOBA.Business.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCustomerServlet</servlet-name>
        <servlet-class>TOBA.Customer.NewCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDB</servlet-name>
        <servlet-class>TOBA.Data.UserDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>TOBA.Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionPool</servlet-name>
        <servlet-class>TOBA.Data.ConnectionPool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBUtil</servlet-name>
        <servlet-class>TOBA.Data.DBUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SQLUtil</servlet-name>
        <servlet-class>TOBA.Data.SQLUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieUtil</servlet-name>
        <servlet-class>TOBA.Util.CookieUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>TOBA.Controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCustomerServlet</servlet-name>
        <url-pattern>/NewCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDB</servlet-name>
        <url-pattern>/UserDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionPool</servlet-name>
        <url-pattern>/ConnectionPool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBUtil</servlet-name>
        <url-pattern>/DBUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SQLUtil</servlet-name>
        <url-pattern>/SQLUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieUtil</servlet-name>
        <url-pattern>/CookieUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
